#root {
  align-self: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --piece-visibility: visible;
}

[data-boardid="chessboard"] svg {
  visibility: var(--piece-visibility);
}

.header {
  display: flex;
  flex-direction: row;
}

.puzzle-title {
  height: 2rem;
}

.controls {
  width: 30vw;
}

.control {
  display: flex;
  flex-direction: row;
}

.tagline {
  width: 70vw;
  font-style: italic;
}
