#root {
  align-self: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  --piece-visibility: visible;
}

[data-boardid="chessboard"] svg {
  visibility: var(--piece-visibility);
}

.header {
  display: flex;
  flex-direction: row;
}

.puzzle-title {
  height: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: row;
  width: 30vw;
  white-space: nowrap;
}

.tagline {
  width: 70vw;
  font-style: italic;
}

.instructions {
  padding: 1rem;
}

.history-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -48%);
  z-index: 100;
  border: 1px solid black;
  background-color: white;
  height: 95vh;
  width: 95vw;
  position: absolute;
}
